.home_cards{
    max-width: 100%;
    height: auto;
}
.cards_header{
    font-size: 3.0rem; 
    font-weight: 300;
    text-align: center;
    color: #131111; 
    margin-top: 6.8rem; 
    margin-bottom: 2.5rem; 
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
